*.bb
*.bbg
*.da
*.gcda
*.gcna
*.gcno
*.gcov
*.in
*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.am
config.h
lwes-proxy
lwes-proxy.h
lwes-journal-counter
lwes_proxy_config_parser.c
lwes_proxy_config_parser.h
lwes_proxy_config_scanner.c
myprog
stamp-h1
