# input channel(s?)
# if I support multiple channels, I'll probably go for something like this
#frontend mondemand
#  default_backend mondemand
#
,
frontend mondemand 0.0.0.0:127.0.0.1:20402
  default_backend mondemand

frontend lwes 0.0.0.0:30000
  default_backend journaller
  default_backend ntd
  default_backend abacus
  default_backend segment

# output channels

backend journaller
  strategy 2ofN
  server pool1 10.1.31.19:30000
  server pool1 10.1.7.19:30000
  server pool1 10.1.32.19:30000
  server pool1 10.1.8.27:30000
  server pool1 10.1.34.19:30000
  server pool1 10.1.28.51:30000
  server pool1 10.1.35.19:30000
  server pool1 10.1.29.46:30000
  filter out OX3::AdRequest::AdSelect
  filter out Segment::Record

backend ntd
  strategy 1ofN_all
  server pool1 10.1.9.246:30000
  server pool1 10.1.4.228:30000
  server pool1 10.1.31.252:30000
  server pool1 10.1.30.252:30000
  server pool2 10.1.10.246:30000
  server pool2 10.1.2.235:30000
  server pool2 10.1.30.253:30000
  server pool2 10.1.32.254:30000
  filter out OX3::AdRequest::AdSelect
  filter out Segment::Record

backend abacus
  strategy 1ofN_all
  server pool1 10.1.5.247:30000
  server pool1 10.1.5.234:30000
  server pool1 10.1.35.253:30000
  server pool2 10.1.6.250:30000
  server pool2 10.1.3.238:30000
  server pool2 10.1.32.249:30000
  filter in OX2::AdRequest::AdSelect
  filter in OX3::Click
  filter in OX3::Conversion
  filter in OX3::Impression

backend segment
  strategy 1ofN
  server pool1 10.1.8.254:30303  # ox3-segmentation-klum-xv-01
  server pool1 10.1.2.229:30303  # ox3-segmentation-klum-xv-02
  server pool1 10.1.3.232:30303  # ox3-segmentation-klum-xv-03
  server pool1 10.1.28.252:30303  # ox3-segmentation-klum-xv-04
  filter in Segment::Record

backend dummy
  strategy 1ofN_2ofN
  server pool5 355.1.2.3:8080

